:root {

      // Colors

    --bg-site: #f6f6f6;
    --bg-card: #ebe9ea;
    --white: #fff;
    --title: #181818;
    --text: #474747;
  
      // Fonts
  
      font-size: 62.5%; /* 1rem = 10px */
      
      --ff-main:  'Montserrat', sans-serif;
  
      // Font Sizes
  
      --fs-main: 1.6rem;
  
      // Font Weights
  
      --fw-medium: 500;
      --fw-semi-bold: 600;
      --fw-bold: 700;

}